<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome | ForumRS Setup</title>
        <link rel="icon" href="public/default/default_favicon.png" type="image/png" sizes="16x16" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="public/css/setup/welcome.css" />
    </head>
    <body>
        <div class="d-flex justify-content-md-center align-items-center vh-100">
            <div>
                <h1 class="mb-5">Forum<span class="RS">RS</span> Configuration</h1>
            <div id="welcome-message" class="alert alert-secondary">
                <p class="text-center">Welcome to ForumRS!</p>
                ForumRS is an open source forum website developed in Rust. Before you can use ForumRS you must configure it. Please click
                the button below to begin the configuration process.
            </div>
            <p class="text-center mt-5"><a href="login" class="btn btn-success">Configure ForumRS</a></p>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>