h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    font-size: 1.7em;
}

.RS {
    color: orange;
}

#welcome-message {
    width: 75%;
    margin: auto;
}

.alert-danger {
    margin-top: 10px;
}

.info-nugget {
    color: blue;
}